<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.teamplaying.mapper.MemberMapper">
    <resultMap type="com.example.teamplaying.domain.Member" id="memberMap">
        <id property="userId" column="userId"></id>
        <result property="nickName" column="nickName"></result>
        <result property="inserted" column="inserted"></result>
        <result property="email" column="email"></result>
        <result property="password" column="password"></result>
    </resultMap>

</mapper>